{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section "Getting started"}}

    {{nav.item "Installation" "docs.index"}}
    {{nav.item "Usage" "docs.usage"}}
    {{nav.item "Demo" "docs.demo"}}

    {{nav.section "Customization"}}
    {{nav.item "Styles" "docs.styles"}}
    {{nav.item "Icons" "docs.icons"}}
    {{nav.item "Animation" "docs.animation"}}
    {{nav.item "Touch" "docs.touch"}}
    {{nav.item "Dynamic" "docs.dynamic"}}
    {{nav.item "Options" "docs.options"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}