<form class="docs-w-full docs-max-w-md" {{action "show" on="submit"}}>
  <div
    class="docs-bg-white docs-shadow-md docs-rounded docs-px-8 docs-pt-6 docs-pb-8 docs-mb-4 docs-flex docs-flex-col docs-my-2">
    <div class="docs-flex docs-flex-wrap docs--mx-3 docs-mb-6">
      <div class="docs-w-full docs-md:w-1/2 docs-px-3 docs-mb-6 docs-md:mb-0">
        <label
          class="docs-block docs-uppercase docs-tracking-wide docs-text-grey-darker docs-text-xs docs-font-bold docs-mb-2"
          for="notification-message">
          Message
        </label>
        {{input
          id="notification-message"
          class="docs-appearance-none docs-block docs-w-full docs-bg-grey-lighter docs-text-grey-darker docs-border docs-border-grey-lighter docs-rounded docs-py-3 docs-px-4 docs-leading-tight docs-focus:outline-none docs-focus:bg-white docs-focus:border-grey"
          type="text"
          value=message}}
      </div>
      <div class="docs-w-full docs-md:w-1/2 docs-px-3">
        <label
          class="docs-block docs-uppercase docs-tracking-wide docs-text-grey-darker docs-text-xs docs-font-bold mb-2"
          for="notification-type">
          Type
        </label>
        <div class="docs-relative">
          <select
            id="notification-type"
            class="docs-block docs-appearance-none docs-w-full docs-bg-grey-lighter docs-border docs-border-grey-lighter docs-text-grey-darker docs-py-3 docs-px-4 docs-pr-8 docs-rounded docs-leading-tight docs-focus:outline-none docs-focus:bg-white docs-focus:border-grey"
            onchange={{action (mut type) value="target.value"}}>
            {{#each types as |typeChoice|}}
              <option value={{typeChoice}} selected={{eq type typeChoice}}>
                {{capitalize typeChoice}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="docs-flex docs-flex-wrap docs--mx-3 docs-mb-6">
      <div class="docs-w-full docs-md:w-1/2 docs-px-3 docs-mb-6 docs-md:mb-0">
        <label
          class="docs-block docs-uppercase docs-tracking-wide docs-text-grey-darker docs-text-xs docs-font-bold docs-mb-2"
          for="notification-position">
          Position
        </label>
        <div class="docs-relative">
          <select
            id="notification-position"
            class="docs-block docs-appearance-none docs-w-full docs-bg-grey-lighter docs-border docs-border-grey-lighter docs-text-grey-darker docs-py-3 docs-px-4 docs-pr-8 docs-rounded docs-leading-tight docs-focus:outline-none docs-focus:bg-white docs-focus:border-grey"
            onchange={{action "setPosition" value="target.value"}}>
            {{#each positions as |positionChoice|}}
              <option value={{positionChoice}} selected={{eq type positionChoice}}>
                {{capitalize positionChoice}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="docs-w-full docs-md:w-1/2 docs-px-3">
        <label
          class="docs-block docs-uppercase docs-tracking-wide docs-text-grey-darker docs-text-xs docs-font-bold docs-mb-2"
          for="notification-duration">
          Duration (ms)
        </label>
        {{input
          id="notification-duration"
          class="docs-appearance-none docs-block docs-w-full docs-bg-grey-lighter docs-text-grey-darker docs-border docs-border-grey-lighter docs-rounded docs-py-3 docs-px-4 docs-leading-tight docs-focus:outline-none docs-focus:bg-white docs-focus:border-grey"
          type="number"
          min="0"
          step="100"
          value=duration}}
        <p class="docs-text-grey-dark docs-text-xs docs-italic">
          Disable auto clear with a value of 0.
        </p>
      </div>
    </div>
    <div class="docs-flex docs-mb-4">
      <button
        class="docs-bg-grey-darkest hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded"
        type="button"
        onclick={{action "show"}}>
        Show
      </button>
      <button
        class="docs-p-2 docs-ml-4 docs-mr-2 docs-border-2 docs-rounded docs-bg-white docs-hover:bg-grey-lightest docs-text-grey-darkest docs-font-bold"
        type="button"
        onclick={{action "clearAll"}}>
        Clear all
      </button>
    </div>
  </div>
</form>