{{! BEGIN-SNIPPET bootstrap-application.hbs }}
{{#ember-notifier
  notificationClass="alert alert-dismissible"
as |notification close|}}
  <h4 class="alert-heading">
    {{notification.title}}
  </h4>
  <p>
    {{#if notification.contentComponent}}
      {{component
        notification.contentComponent
        title=notification.title
        message=notification.message
        setOption=(action "setOption")}}
    {{else}}
      {{notification.message}}
    {{/if}}
  </p>
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    onclick={{action close}}>
    <span aria-hidden="true">&times;</span>
  </button>
{{/ember-notifier}}
{{outlet}}
{{! END-SNIPPET }}