{{! BEGIN-SNIPPET spectre-application.hbs }}
{{#ember-notifier notificationClass="toast" as |notification close|}}
  <button class="btn btn-clear float-right" {{action close}}></button>
  <h6>{{notification.title}}</h6>
  {{#if notification.contentComponent}}
    {{component
      notification.contentComponent
      title=notification.title
      message=notification.message
      setOption=(action "setOption")}}
  {{else}}
    {{notification.message}}
  {{/if}}
{{/ember-notifier}}
{{outlet}}
{{! END-SNIPPET }}